<%= form_with(model: ecom_order) do |form| %>
  <% if ecom_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ecom_order.errors.count, "error") %> prohibited this ecom_order from being saved:</h2>

      <ul>
        <% ecom_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :itek_sku, style: "display: block" %>
    <%= form.text_field :itek_sku %>
  </div>

  <div>
    <%= form.label :purchase_date, style: "display: block" %>
    <%= form.datetime_field :purchase_date %>
  </div>

  <div>
    <%= form.label :platform_order_num, style: "display: block" %>
    <%= form.text_field :platform_order_num %>
  </div>

  <div>
    <%= form.label :sales_channel, style: "display: block" %>
    <%= form.text_field :sales_channel %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :customer_name, style: "display: block" %>
    <%= form.text_field :customer_name %>
  </div>

  <div>
    <%= form.label :customer_state, style: "display: block" %>
    <%= form.text_field :customer_state %>
  </div>

  <div>
    <%= form.label :shipped_at, style: "display: block" %>
    <%= form.datetime_field :shipped_at %>
  </div>

  <div>
    <%= form.label :num_items_shipped, style: "display: block" %>
    <%= form.number_field :num_items_shipped %>
  </div>

  <div>
    <%= form.label :payment_method, style: "display: block" %>
    <%= form.text_field :payment_method %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
